{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}


{% block content %}


<p><a class="btn btn-warning" href="{% url 'app:list' %}">Back to list</a></p>
{% csrf_token %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}"><h5>{{ message }}</h5></li>
    {% endfor %}
  </ul>
{% endif %}

<form method="POST" >


{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" class="btn btn-primary"></input>

</form>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
</script>
{% endblock %}
